# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.bun-install.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build output
dist/
build/
build/Release
lib-cov

# Dependencies
node_modules/
bower_components/
jspm_packages/
web_modules/

# Caches
.cache
.parcel-cache
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# TypeScript
*.tsbuildinfo

# Package managers
.npm
.pnpm-store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Frameworks
.next/
out/
.nuxt/
.svelte-kit/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.turbo
.vercel/
.netlify/

# Env files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# IDEs / Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/

# System
.DS_Store
Thumbs.db

# Misc
.lock-wscript
.tern-port